<html ng-app="myApp">
<head>

    <title>Three tiered example</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-route.js"></script>

    <style>
        table
        {
	        border-collapse:collapse;
        }

        table, th, td
        {
	        border: 1px solid #0077DD;
	        padding: 5px;
        }

        th
        {
	        color: #FFFFFF;
	        background-color: #0077DD;
        }

        tr
        {
	        background-color: #D0D0FF;
        }

        .navigation
        {
            padding: 5px;
        }
    </style>

    <script>

        /*global window*/
        if (typeof(window.threeTieredExampleApi) === 'undefined')
        {
            window.threeTieredExampleApi =
            {
                read: function($http, clientId, callback)
                {
                    $http.get('/api/v1/Clients/' + clientId).success(callback);
                },

                readPage: function($http, pageNumber, callback)
                {
                    $http.get('/api/v1/Clients/pages/' + pageNumber).success(callback);
                },

                update: function($http, clientId, client, callback)
                {
                    $http.put('/api/v1/Clients/' + clientId, client).success(callback);
                },
            };
        }

        var sClientsTemplate = '<div ng-controller="ClientsController">';
        sClientsTemplate    += '    <table>';
        sClientsTemplate    += '        <tr>';
        sClientsTemplate    += '            <th ng-repeat="(name, value) in clients[0].fields">{{name}}</th>';
        sClientsTemplate    += '        </tr>';
        sClientsTemplate    += '        <tr ng-dblclick="gotoClient(client.clientId)" ng-repeat="client in clients">';
        sClientsTemplate    += '            <td ng-repeat="value in client.fields">{{value}}</td>';
        sClientsTemplate    += '        </tr>';
        sClientsTemplate    += '    </table>';

        sClientsTemplate    += '    <span ng-repeat="link in links" class="navigation">';
        sClientsTemplate    += '        <a href ng-show="link.pageNumber" ng-href="#{{link.pageNumber}}">{{link.rel}}</a>';
        sClientsTemplate    += '        <span ng-show="!link.pageNumber">{{link.rel}}</span>';
        sClientsTemplate    += '    </span>';
        sClientsTemplate    += '</div>';

        var sClientTemplate = '<div ng-controller="ClientController">';
        sClientTemplate    += '     <form>';
        sClientTemplate    += '         <table>';
        sClientTemplate    += '             <tr>';
        sClientTemplate    += '                 <td>Title</td>';
        sClientTemplate    += '                <td><input type="text" style="width:95%" ng-model="client.Title" /></td>';
        sClientTemplate    += '                 <td>Firstname</td>';
        sClientTemplate    += '                 <td><input type="text" style="width:95%" ng-model="client.Firstname" /></td>';
        sClientTemplate    += '             </tr>';
        sClientTemplate    += '             <tr>';
        sClientTemplate    += '                 <td>Initial</td>';
        sClientTemplate    += '                 <td><input type="text" style="width:95%" ng-model="client.Initial" /></td>';
        sClientTemplate    += '                 <td>Surname</td>';
        sClientTemplate    += '                 <td><input type="text" style="width:95%" ng-model="client.Surname" /></td>';
        sClientTemplate    += '             </tr>';
        sClientTemplate    += '             <tr>';
        sClientTemplate    += '                 <td>AddressLine1</td>';
        sClientTemplate    += '                 <td><input type="text" style="width:95%" ng-model="client.AddressLine1" /></td>';
        sClientTemplate    += '                 <td>AddressLine2</td>';
        sClientTemplate    += '                 <td><input type="text" style="width:95%" ng-model="client.AddressLine2" /></td>';
        sClientTemplate    += '             </tr>';
        sClientTemplate    += '             <tr>';
        sClientTemplate    += '                 <td>Town</td>';
        sClientTemplate    += '                 <td><input type="text" style="width:95%" ng-model="client.Town" /></td>';
        sClientTemplate    += '                 <td>Postcode</td>';
        sClientTemplate    += '                 <td><input type="text" style="width:95%" ng-model="client.Postcode" /></td>';
        sClientTemplate    += '             </tr>';
        sClientTemplate    += '             <tr>';
        sClientTemplate    += '                 <td>HomeNumber</td>';
        sClientTemplate    += '                 <td><input type="text" style="width:95%" ng-model="client.HomeNumber" /></td>';
        sClientTemplate    += '                 <td>EmailAddress</td>';
        sClientTemplate    += '                 <td><input type="text" style="width:95%" ng-model="client.EmailAddress" /></td>';
        sClientTemplate    += '             </tr>';
        sClientTemplate    += '             <tr>';
        sClientTemplate    += '                 <td>MobileNumber</td>';
        sClientTemplate    += '                 <td><input type="text" style="width:95%" ng-model="client.MobileNumber" /></td>';
        sClientTemplate    += '                 <td>IsActive</td>';
        sClientTemplate    += '                 <td><input type="checkbox" style="width:95%" ng-model="client.IsActive" /></td>';
        sClientTemplate    += '             </tr>';
        sClientTemplate    += '             <tr>';
        sClientTemplate    += '                 <td>Notes</td>';
        sClientTemplate    += '                 <td colspan="3"><input type="text" style="width:98%" ng-model="client.Notes" /></td>';
        sClientTemplate    += '             </tr>';
        sClientTemplate    += '         </table>';
        sClientTemplate    += '         <p>';
        sClientTemplate    += '             <input type="button" style="width: 85px; font-weight: bold" value="OK" ng-click="apply(true)" />';
        sClientTemplate    += '             <input type="button" style="width: 85px; font-weight: bold" value="Apply" ng-click="apply(false)" />';
        sClientTemplate    += '             <input type="button" style="width: 85px; font-weight: bold" value="Cancel" ng-click="cancel()" />';
        sClientTemplate    += '         </p>';
        sClientTemplate    += '     </form>';
        sClientTemplate    += '</div>';

        /*global angular*/
        var app = angular.module('myApp', ['ng', 'ngRoute']);

        app.config(function($routeProvider)
        {
            $routeProvider.when('/client/:clientId', {template: sClientTemplate});
            $routeProvider.when('/:pageNumber?', {template: sClientsTemplate});
        });

        app.controller('ClientsController', function($scope, $http, $routeParams, $location)
        {
            $scope.clients = undefined;
            $scope.links = undefined;

            var pageNumber = $routeParams.pageNumber ? $routeParams.pageNumber : 1;

            window.threeTieredExampleApi.readPage($http, pageNumber, function(data)
            {
                $scope.clients = data.data;
                $scope.links = data.links;
            });

            $scope.gotoClient = function(clientId)
            {
                $location.path('/client/' + clientId).search({fromPage: pageNumber});
            };
        });

        app.controller('ClientController', function($scope, $http, $routeParams, $location)
        {
            $scope.client = undefined;
            $scope.clientId = $routeParams.clientId;
            $scope.fromPage = $location.search().fromPage ? $location.search().fromPage : 1;

            window.threeTieredExampleApi.read($http, $routeParams.clientId, function(data)
            {
                $scope.client = data.data;
            });

            $scope.cancel = function()
            {
                $location.path('/' + $scope.fromPage);
            };

            $scope.apply = function(bClose)
            {
                window.threeTieredExampleApi.update($http, $routeParams.clientId, $scope.client, function()
                {
                    if (bClose)
                    {
                        $scope.cancel();
                    }
                });
            };

        });

    </script>
</head>

<body>
    <div ng-view></div>
</body>
</html>

