<html ng-app="myApp">
<head>

    <title>Three tiered example</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-route.js"></script>

    <style>
        table
        {
	        border-collapse:collapse;
        }

        table, th, td
        {
	        border: 1px solid #0077DD;
	        padding: 5px;
        }

        th
        {
	        color: #FFFFFF;
	        background-color: #0077DD;
        }

        tr
        {
	        background-color: #D0D0FF;
        }

        .navigation
        {
            padding: 5px;
        }
    </style>

    <script>

        var sClientsTemplate = '<div ng-controller="ClientsController">';
        sClientsTemplate    += '    <table>';
        sClientsTemplate    += '        <tr>';
        sClientsTemplate    += '            <th ng-repeat="(name, value) in clients[0]">{{name}}</th>';
        sClientsTemplate    += '        </tr>';
        sClientsTemplate    += '        <tr ng-dblclick="gotoClient(id)" ng-repeat="(id, client) in clients">';
        sClientsTemplate    += '            <td ng-repeat="value in client">{{value}}</td>';
        sClientsTemplate    += '        </tr>';
        sClientsTemplate    += '    </table>';

        sClientsTemplate    += '    <span ng-repeat="link in links" class="navigation">';
        sClientsTemplate    += '        <a href ng-show="link.pageNumber" ng-href="#{{link.pageNumber}}">{{link.rel}}</a>';
        sClientsTemplate    += '        <span ng-show="!link.pageNumber">{{link.rel}}</span>';
        sClientsTemplate    += '    </span>';
        sClientsTemplate    += '</div>';

        var sClientTemplate = '<div ng-controller="ClientController">';
        sClientTemplate    += '     <p><a ng-href="#/">Back to Clients</a></p>';
        sClientTemplate    += '     <form>';
        sClientTemplate    += '         <table>';
        sClientTemplate    += '             <tr>';
        sClientTemplate    += '                 <td>Title</td>';
        sClientTemplate    += '                <td><input type="text" id="Clients_Title" class="dialogInput" style="width:95%"/></td>';
        sClientTemplate    += '                 <td>Firstname</td>';
        sClientTemplate    += '                 <td><input type="text" id="Clients_Firstname" class="dialogInput" style="width:95%"/></td>';
        sClientTemplate    += '             </tr>';
        sClientTemplate    += '             <tr>';
        sClientTemplate    += '                 <td>Initial</td>';
        sClientTemplate    += '                 <td><input type="text" id="Clients_Initial" class="dialogInput" style="width:95%"/></td>';
        sClientTemplate    += '                 <td>Surname</td>';
        sClientTemplate    += '                 <td><input type="text" id="Clients_Surname" class="dialogInput" style="width:95%"/></td>';
        sClientTemplate    += '             </tr>';
        sClientTemplate    += '             <tr>';
        sClientTemplate    += '                 <td>AddressLine1</td>';
        sClientTemplate    += '                 <td><input type="text" id="Clients_AddressLine1" class="dialogInput" style="width:95%"/></td>';
        sClientTemplate    += '                 <td>AddressLine2</td>';
        sClientTemplate    += '                 <td><input type="text" id="Clients_AddressLine2" class="dialogInput" style="width:95%"/></td>';
        sClientTemplate    += '             </tr>';
        sClientTemplate    += '             <tr>';
        sClientTemplate    += '                 <td>Town</td>';
        sClientTemplate    += '                 <td><input type="text" id="Clients_Town" class="dialogInput" style="width:95%"/></td>';
        sClientTemplate    += '                 <td>Postcode</td>';
        sClientTemplate    += '                 <td><input type="text" id="Clients_Postcode" class="dialogInput" style="width:95%"/></td>';
        sClientTemplate    += '             </tr>';
        sClientTemplate    += '             <tr>';
        sClientTemplate    += '                 <td>HomeNumber</td>';
        sClientTemplate    += '                 <td><input type="text" id="Clients_HomeNumber" class="dialogInput" style="width:95%"/></td>';
        sClientTemplate    += '                 <td>EmailAddress</td>';
        sClientTemplate    += '                 <td><input type="text" id="Clients_EmailAddress" class="dialogInput" style="width:95%"/></td>';
        sClientTemplate    += '             </tr>';
        sClientTemplate    += '             <tr>';
        sClientTemplate    += '                 <td>MobileNumber</td>';
        sClientTemplate    += '                 <td><input type="text" id="Clients_MobileNumber" class="dialogInput" style="width:95%"/></td>';
        sClientTemplate    += '                 <td>IsActive</td>';
        sClientTemplate    += '                 <td><input type="checkbox" style="text-align:left" id="Clients_IsActive" class="dialogInput" style="width:95%"/></td>';
        sClientTemplate    += '             </tr>';
        sClientTemplate    += '             <tr>';
        sClientTemplate    += '                 <td>Notes</td>';
        sClientTemplate    += '                 <td colspan="3"><input type="text" id="Clients_Notes" class="dialogInput" style="width:98%"/></td>';
        sClientTemplate    += '             </tr>';
        sClientTemplate    += '         </table>';
        sClientTemplate    += '         <p>';
        sClientTemplate    += '             <input type="button" style="width: 85px; font-weight: bold" value="OK" />';
        sClientTemplate    += '             <input type="button" style="width: 85px; font-weight: bold" value="Apply" />';
        sClientTemplate    += '             <input type="button" style="width: 85px; font-weight: bold" value="Cancel" />';
        sClientTemplate    += '         </p>';
        sClientTemplate    += '     </form>';
        sClientTemplate    += '</div>';

        /*global angular*/
        var app = angular.module('myApp', ['ng', 'ngRoute']);

        app.config(function($routeProvider)
        {
            $routeProvider.when('/client/:clientId', {template: sClientTemplate});
            $routeProvider.when('/:pageNumber?', {template: sClientsTemplate});
        });

        app.controller('ClientsController', function($scope, $http, $routeParams, $location)
        {
            $scope.clients = undefined;
            $scope.links = undefined;

            $scope.load = function()
            {
                var pageNumber = $routeParams.pageNumber ? $routeParams.pageNumber : 1;

                $http.get('/api/v1/Clients/pages/' + pageNumber).success(function(data)
                {
                    $scope.clients = data.data;
                    $scope.links = data.links;
                });
            };

            $scope.gotoClient = function(clientId)
            {
                $location.path('/client/' + clientId);
            };

            $scope.load();
        });

        app.controller('ClientController', function(/*$scope, $http*/)
        {
        });

    </script>
</head>

<body>
    <div ng-view></div>
</body>
</html>

